body {
    color: white;
    background-color: #222222;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.titleicon {
    margin: auto;
    display: block;
    padding-top: 4em;
    width: 25%;
}

.title {
    text-align: center;
    padding-bottom: 2em;
    font-size: 40px;
    color: black;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    -webkit-font-smoothing: antialiased;
}

.link {
    color: lightblue;
    text-decoration: none;
}

.banner {
    position: relative;
    background-image: url(../img/bg.png);
    border-radius: 10px;
}

.sticky-header {
    position: -webkit-sticky;
    position: sticky;
    z-index: 1;
    align-items: center;
    justify-content: center;
    top: 0;
    display: inline-flex;
    width: 100%;
    height: 5vh;
    background-color: #222222;
    box-sizing: border-box;
    border-radius: 0 0 2vh 2vh;
    scroll-behavior: smooth;
}

.logo {
    flex-shrink: 0;
    width: 3vw;
    height: 3vh;
    padding-right: .5em;
}
.sticky-header .navText a {
    display: inline;
    text-align: center;
    text-decoration: none;
    padding-left: 1em;
    padding-right: 1em;
}

h1 {
    font-size: 40px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.containerelement {
    flex: 50%;
}

.elementheading {
    padding-left: 1em;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
    text-shadow: 1px 1px grey;
}

.elementparagraph {
    padding-left: 2.5em;
}

@media screen and (max-width: 600px) {
    .container {
        flex-direction: column;
    }
}

.memberimage {
    border-radius: 50%;
    width: 50px;
}

.membername {
    padding-left: 1em;
}

.member {
    padding-left: 2.4em;
    padding-top: 1.5em;
    display: flex;
}

.memberlink {
    text-decoration: none;
    color: white;
}